.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    .copyrights{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        h3{
            margin: 0;
        }
    }
    
    .background{
        background-color: white;
        background-image: url('../assets/Background-Contact-Form.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .4;
        width: 100%;
        height: 100%;
    }
    .rightSideContentBox{
        .formSuccesfull{
            color: green;
            font-size: 80%;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 7%;
        min-height: 100%;
        width: 30%;
        .decoration{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: #3C3C3C;
            h1{
                text-align: center;
                font-weight: 400;
                font-size: 237%;
            }
        }
        form{
            span{
                font-size: 70%;
                color: red;
            }
            display: flex;
            width: 100%;
            height: 50%;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 1%;
            .name, .email{
                min-width: 50%;
                label{
                    font-weight: 600;
                    padding-bottom: 1%;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-between;
                    input{
                        width: 95%;
                        outline: 0;
                        border-width: 0 0 1px;
                        border-style: solid ;
                        border-color: #707070;
                        height: 10%;
                    }
                }
                
            }
            .text{
                display: flex;
                flex-direction: column;
                width: 98%;
                height: 60%;
                label{
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding-bottom: 1%;
                    padding-top: 10%;
                    span{
                        font-size: 70%;
                        color: red;
                    }
                }
                textarea{
                    outline: 0;
                    border-width: 0 0 2px;
                    border-width: 0 0 1px;
                    border-style: solid ;
                    border-color: #707070;
                    height: 100%;
                    resize: none;
                }
            }
            .submit{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-right: 2%;
                input{
                    width: 30%;
                    background-color: white;
                    border: 0.75px solid #3C3C3C;
                }
                input:hover{
                    cursor: pointer;
                }
            }
            
        }
        .icons{
            display: flex;
            justify-content: flex-end;
            img{
                padding: 2%;
            }
        }
    }
}