.threeColumns{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: transparent url('../assets/threeColumnsBackground.png');
    display: flex;
    justify-content: space-around;
    div{
        max-width: 20%;
    }
    h1, h3, p{
        text-align: center;
    }
    h1{
        font-size: 5rem;
        font-family: $font-base;
        font-weight: lighter;
        margin: 0;
    }
    p{
        font-family: $font-alt;
    }
    
}